<footer>
    <div class="phone"><a href="tel:6031112298">(973) 495-3755</a></div>
    <div>
      <div class="license">NJ HIC# 13VH03809900</div>
      <div class="copyright">Gaia Gardens Copyright © 2024</div>
    </div>
  </footer>
  <script src="app.js"></script>
</body>