<footer>
    <div class="phone"></div>
    <div>
      <div class="license">NJ HIC# 13VH03809900</div>
      <div class="copyright">Gaia Gardens Copyright © 2024</div>
    </div>
  </footer>
  <script src="/assets/scripts/app.js"></script>
</body>