/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Cormorant Garamond", Times, serif, serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: blue;
  width: 100vw;
  height: 100vh;
}

header {
  background: linear-gradient(to bottom, #222, #333);
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: auto;
}

logo {
  width: 100%;
  display: flex;
  align-items: center;
}

logo .logo-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

logo .logo-text h1 {
  font-size: 3rem;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

nav ul li:hover {
  background: #555;
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

hero-gallery {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

hero-gallery > img {
  height: auto;
  width: 100%;
}

footer {
  padding: 8px 16px;
  background: linear-gradient(to bottom, #222, #333);
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > .phone {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

/* tablet breakpoint */
@media (max-width: 768px) {
  header {
    padding: 20px 10px;
  }

  nav ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  nav ul li {
    text-align: center;
    flex: 0;
  }
}

/* mobile breakpoint */
@media (max-width: 480px) {
  header {
    padding: 20px 10px 0px 10px;
    font-size: 1em;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    display: inline;
    padding: 0.5rem;
  }

  .nav-item.selected {
    border-bottom: 0.25rem solid lightgrey;
  }

  nav ul li:hover {
    background: #555;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
