<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main id="main">
      <div id="content">
        <div class="greeting">Hey, Beautiful!</div>
        <div id="about-content">
          <div class="about-block">
            <img src="/assets/images/Gaia-Gardens-3.jpg" alt="hero image" />

            <div class="text">
              <h2>Mission</h2>
              <p>
                Gaia Gardens creates beautiful, organic, and sustainable
                environments that integrate aesthetically and ecologically with
                your property.
              </p>
            </div>
          </div>
          <div class="about-block">
            <img src="/assets/images/Gaia-Gardens-3.jpg" alt="hero image" />
            <div class="text">
              <h2>Our Story</h2>
              <p>
                Gaia Gardens was founded in 2004 by a group of friends who
                shared a passion for sustainable landscaping. We started with a
                small garden in a backyard and have since grown into a
                full-service landscaping company.
              </p>
            </div>
          </div>
          <div class="about-block">
            <img src="/assets/images/Gaia-Gardens-3.jpg" alt="hero image" />
            <div class="text">
              <h2>How We Plant</h2>
              <p>
                We provide personalized design tailored to your lifestyle. We
                design with a preference toward low maintenance, native, and
                functional landscaping based upon principles of sustainable land
                use and permaculture. We maintain the same approach throughout
                all of our services, which include: landscape design and
                maintenance, hardscaping, plantings, container gardening,
                lighting design, and specialty gardening. Our maintenance
                practices are geared towards the health and success of every
                plant while emphasizing your stylistic preferences. We use IPM
                (integrated pest management) for effective, environmentally
                low-impact, low-cost problem solving.
              </p>
            </div>
          </div>
          <div class="about-block">
            <img src="/assets/images/Gaia-Gardens-3.jpg" alt="hero image" />
            <div class="text">
              <h2>Founder</h2>
              <p>
                Daria Paxton is the owner and founder of Gaia Gardens. She
                graduated from Mason Gross School of the Arts at Rutgers
                University with a BFA in visual arts. Additional studies
                included botany and ecology on the Cook College campus of
                Rutgers University. In 2003, Daria successfully completed the
                Rutgers Master Gardener Program in Bergen county. She has
                traveled extensively through the continental US as well as
                Japan, Costa Rica and Spain. These travels have provided Daria
                with a knowledge of historic gardens, plant origins, and
                different styles of the world.
              </p>
            </div>
          </div>
          <div class="bottom-gap"></div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
