<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main id="main">
      <div id="content">  
        <div class="contact-confirmation">    
          <h2>Something went wrong.</h2>
          <p><%= error %></p>
        </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
