<div id="home-content">
  <hero-gallery>
    <img
      class="hero-image"
      src="/assets/images/Gaia-Gardens-3.jpg"
      alt="hero image"
    />
    <img
      class="hero-image"
      src="/assets/images/Gaia-Gardens-4.jpg"
      alt="hero image"
    />
    <img
      class="hero-image"
      src="/assets/images/Gaia-Gardens-11.jpg"
      alt="hero image"
    />
    <img
      class="hero-image"
      src="/assets/images/Gaia-Gardens-17-1.jpg"
      alt="hero image"
    />
  </hero-gallery>
</div>
