<div>
    <div class="project-card">
        <div class="project-location">Verona</div>
        <div class="project-title"><h3>A patio for friends</h3></div>
        <div class="project-description">A lovely native escape surrounds the perfect hosting area</div>
        <div class="project-photo"><img src="/assets/images/Gaia-Gardens-17-1.jpg"/></div>
    </div>
</div>
<div>
    <div class="project-location">Montclair</div>
    <div class="project-title">Hilltop Hideaway</h1>
    <div class="project-description"></div>
    <div class="project-photo"></div>
</div>
<div>
    <div class="project-location">Glenridge</div>
    <div class="project-title">Blessed Barbeque</h1>
    <div class="project-description"></div>
    <div class="project-photo"></div>
</div>
<!-- This will be either a grid of photos or a two part photo left/ text right
    these will link to a scrollable gallery of 3 to 5 images that will be presented horizontal
    on wide screens and vertical on mobile screens.  -->
