<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main id="main">
      <div id="content">
        <div class="project-two-column">
          <div class="project-card">
            <img
              class="project-photo"
              src="/assets/images/Gaia-Gardens-17-1.jpg"
            />
            <div class="project-title">
              <h3>A Patio for Friends</h3>
              <div class="project-location">
                <i class="fa-solid fa-map-location-dot"></i>
                Verona
              </div>
            </div>
            <div class="project-description">
              A lovely native escape surrounds the perfect hosting area
            </div>
          </div>
          <div class="project-card">
            <img
              class="project-photo"
              src="/assets/images/Gaia-Gardens-8.jpg"
            />
            <div class="project-title">
              <h3>Hilltop Hideaway</h3>
              <div class="project-location">
                <i class="fa-solid fa-map-location-dot"></i>
                Montclair
              </div>
            </div>
            <div class="project-description">
              Tucked inside a ring of nature, a spectacular view
            </div>
          </div>
        </div>

        <div class="project-card full">
          <img class="project-photo" src="/assets/images/Gaia-Gardens-4.jpg" />
          <div class="project-title">
            <h3>A Moment of Mindfulness</h3>
            <div class="project-location">
              <i class="fa-solid fa-map-location-dot"></i>
              Glenridge
            </div>
          </div>
          <div class="project-description">
            A peaceful retreat with a focus on meditation and relaxation
          </div>
        </div>
        <!-- This will be either a grid of photos or a two part photo left/ text right
            these will link to a scrollable gallery of 3 to 5 images that will be presented horizontal
            on wide screens and vertical on mobile screens.  -->
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
